:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --second-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --light-txt-cl-60: rgba(255, 255, 255, 0.6);
  
  /* Background colors */
  --accent-bg-cl: #f5f5f5;
  --main-bg-cl: #ffffff;
  /* --second-bg-cl: #2f303a;
  --btn-filter-bg-cl: #f5f4fa;
  --btn-filter-act-cl: #2196f3;
  --btn-hero-cl: #2196f3;
  --bnt-act-cl: #188ce8;
  --team-bg-cl: #f5f4fa;
  --footer-icon-bg-cl: rgba(255, 255, 255, 0.1); */

  /* Others */

}

.page {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

/* Reset style */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}

/* Header */

.header_container {
  display: flex;
}

.header_nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  
}

.site-nav {
  padding-top: 40px;
  margin-left: ;
  display: flex;
  gap: 27px;
  align-items: center;
}

.site-nav .link.current {
  color: var(--accent-txt-cl);
}

.contacts-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icons {
  fill: currentColor;
  margin-right: 10px;
}

.contact-link:not(:last-child) {
  margin-right: 50px;
}

.page-header {
  background-color: var(--main-bg-cl);
}

.page-header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-txt-cl);
}



/* Hero */

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-color: var(--second-bg-cl);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 216px;
  min-height: 50px;
  padding: 6px 28px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--btn-hero-cl);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bnt-act-cl);
}

.hero-button:active {
  background-color: var(--bnt-act-cl);
}
