:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #FCFCFC;
  --second-txt-cl: #131313;
  --accent-txt-cl: #F8D24E;
  
  --light-txt-cl-60: rgba(255, 255, 255, 0.6);
  
  /* Background colors */
  --main-bg-cl: #84A278;

  /* Others */

}

.page {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

/* Reset style */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}

/* Header */

.page-header {
  /* background-color: var(--main-bg-cl); */
}

.header_container {
  display: flex;
  align-items: center;
}

.header_nav {
  margin-left: 270px;
  margin-right: auto;
}

.nav {
  padding-top: 40px;
  padding-bottom: 14px;
  display: flex;
  gap: 27px;
  align-items: center;
}

.modal_group {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
}

.buy_btn {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  /* margin-top: 24px;
  margin-bottom: 6px; */
  width: 152px;
  height: 42px;
  background: #F8D24E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Hero */

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-color: var(--second-bg-cl);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 216px;
  min-height: 50px;
  padding: 6px 28px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--btn-hero-cl);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bnt-act-cl);
}

.hero-button:active {
  background-color: var(--bnt-act-cl);
}
